<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Selected card - Provide payment</title>
    <meta http-equiv="Content-Type" request="text/html; charset=UTF-8" />
</head>
<body>
<div class="section">
    <p>
        <span style="text-align: left"><img src="unknown" th:attr="src=${cardImage}" alt="" /></span>
    </p>
    <p style="font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif; font-size: 36px;">
        <strong>
            <p th:text="${cardDescription}" />
            <p th:text="'Value: ' + ${cardValue}" />
        </strong>
    </p>
    <form action="pay" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key=""
                data-amount=""
                data-name=""
                data-description=""
                data-image=""
                data-locale="auto"
                th:attr="data-key=${dataKey},data-amount=${cardAmount},data-name=${cardDescription},data-description=${cardValue},data-description=${merchantLogo}">
        </script>
        <input type="hidden" name="uuid" value="" th:attr="value=${uuid}" />
        <input type="hidden" name="cardId" value="" th:attr="value=${cardId}" />
        <input type="hidden" name="userId" value="" th:attr="value=${userId}" />
    </form>
</div>
</body>
</html>